<?xml version="1.0" encoding="utf-8"?>
<packages xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <package ID="SFML.Net" Version="2.5.1" TargetFramework=".NETStandard2.0" AllowedVersions="[2.5.1]" />
  <package ID="SFML.Audio" Version="2.5.1" TargetFramework="netstandard2.0" AllowedVersions="[2.5.1, )" />
  <package ID="SFML.Graphics" Version="2.5.1" TargetFramework="netstandard2.0" AllowedVersions="[2.5.1, )" />
  <package ID="SFML.System" Version="2.5.1" TargetFramework="netstandard2.0" AllowedVersions="2.5.1" />
  <package ID="SFML.Window" Version="2.5.1" TargetFramework="netstandard2.0" AllowedVersions="2.5.1" />
  <package ID="CSFML" Version="2.5.2" TargetFramework=".NETStandard2.0" AllowedVersions="2.5.2" />
</packages>